img.cat#yellow(src="http://awiclass.monoame.com/catpic/cat_yellow_cat.png", alt="")
img.cat#grey(src="http://awiclass.monoame.com/catpic/cat_grey_cat.png", alt="")
img.cat#blue(src="http://awiclass.monoame.com/catpic/cat_blue_cat.png", alt="")

#cross